<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Android Auto -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer"
        android:usesCleartextTraffic="true"
        android:appCategory="audio"
        android:enableOnBackInvokedCallback="true"

        tools:targetApi="31"
        tools:ignore="UnusedAttribute">

        <!-- documentation really sucks -->
        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MusicPlayer"
            android:hardwareAccelerated="true"

            android:configChanges="orientation|screenSize"

            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- why is this so hard -->
        <service
            android:name=".auto.AutoMediaLibraryService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true"
            android:permission="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

    </application>
</manifest>