@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Oswald:wght@200..700&display=swap');
@font-face {
    font-family: myFirstFont;
    src: url(Fonts/Edition.ttf);
}

:root{
    --background: #1e2030;
    --text: #cad3f5;
    --red: #ed8796;
    --green: #a6da95;
    --surface-0: #494d64;
}
html{
    background-color: var(--background)
}

/* SECTION: COMMON */
.redtext{
    color: var(--red)
}
.subtext{
    width: 75%;
    margin: auto;
    font-family: Comfortaa, system-ui;
}

/* SECTION: HEADER */
.header{
    color: var(--text);
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: Edition, serif;
}

/* SECTION: DOWNLOAD */
.download-section{
    width: 100%;
    
    padding-top: 32px;
    margin: auto;
    
    text-align: center;
    
    .download-button,
    .github-button{
        margin-left: 32px;
        margin-right: 32px;
        
        width: 128px;
        height: 64px;
        
        border: 0;
        border-radius: 24px;
        
        transition: 0.5s;
        
        color: var(--text);
        background-color: var(--surface-0);
        
        font-family: Comfortaa,  system-ui;
        font-size: 18px;
        font-weight: bolder;
        
        cursor: pointer;
    }
    
    .download-button{
        color: #181926;
        background-color: var(--green)
    }
    
    .download-button:hover,
    .github-button:hover{
        box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.5);
        scale: 1.05;
    }
    
    
}